<table>
	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	<% @subjects.each do |subject| %>
		<tr>
			<td><%= subject.name %></td>
			<td>
				<%= link_to "Edit", [:edit, :admin, subject] %>
				<%= link_to "Articles", [:admin, subject] %>
        <%= link_to "Destroy", [:admin, subject], confirm: "Are you sure?", method: :delete %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to "New subject", new_admin_subject_path %>