<!DOCTYPE html>
<html lang="en">
  
<head>
  <title>Practice Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  
<body>
  
  <%= render 'layouts/navbar' %>
	
  <div class="container">
    
    <div class="row">
      <% flash.each do |name, msg| %>
        <div class="col-sm-4 alert alert-<%= name == :notice ? "success" : "danger" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %> 
        </div>
      <% end %>
    </div>

    <%= yield %>
    
  </div>

</body>
  
</html>
